.Chart{
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
    padding: 2.5rem;
    margin: 1rem;

    h2 {
        font-weight: 500;
        margin: 1rem;
    }
}