.LastMovementsModule {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.05);
    padding: 5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1rem;
    height: 43rem;

    h2 {
        margin: 0;
        font-weight: 500;
    }

    .container-timeline{
        overflow: scroll;
       /*  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent); */

        .ul-timeline{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin: 0;
            padding: 1.5rem 0 0 0;
            
            
            .li-container{
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                flex-direction: row;
                margin: 0;
                min-height: 70px;

                h4 {
                    margin: 1rem;
                }

                .date-timeline{
                    font-size: 1.25rem;
                }

                .divider {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    

                    #circle{
                        display: flex;
                        align-items: baseline;
                        padding: 4px;
                        border: 3px solid rgb(47, 116, 201);
                        border-radius: 50%;
                        margin: 11px 0px;
                    }
                    #line {
                        height: 50px;
                        flex-grow: 1;
                        border: 1px solid rgb(163, 163, 163);
                    }
                }
                .text {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 1rem;

                    h4{
                        color: rgb(0, 0, 0);
                        font-weight: 400;
                        margin: 0;
                    }

                    #amount {
                        font-weight: 400;
                        margin: 0;
                        display: flex;
                        float: right;
                    }
                }
            }

        }
    }

}

.container-timeline::-webkit-scrollbar {
    display: none;
    }