.GoalProgress {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.05);
    padding: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    min-height: 42rem;
    margin-bottom: 5rem;
}