.BalanceModuleGoals {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
    margin: 1rem;
    width: 96%;
    max-height: 11.1rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    h4 {
        margin: 0;
        font-weight: 300;
        margin-right: 1rem;
    }

    h3 {
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
        margin-right: 1rem;
    }
}