.CountDownGoal{
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
    margin: 1rem;
    width: 96%;
    max-height: 11.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    height: 11rem;

    .counter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        h3 {
            margin: 0;
        }
        p{
            margin: 0;
        }
    }

    .icon {
        background-color: #17e599;
        color: white;
        border-radius: 10px;
        padding: 2.5rem;
        font-size: 2rem;
    }

    .content {
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        
        h4 {
            margin: 0;
            font-weight: 300;
            margin-right: 1rem;
            position: absolute;
            top: 3.5rem;

        }
        h3 {
            font-size: 3rem;
            margin: 1rem 0;
            font-weight: 500;
            margin-right: 1rem;
        }
    }

}