.Register {
    margin-top: 10rem;

    .inline {
        display: inline !important;
    }
    
    .title {
        margin-bottom: 0;
    }
    
    .form-container {
        margin-top: 4rem;
        border-radius: 10px;
    
            .formField {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-bottom: 0.75rem;
            }
            
            button {
                margin-top: 1.5rem;
            }
    }
}