.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem 2rem 10rem;
    background-color: #FAFBFB;;
    
    a:link, a:visited, a:active {
        text-decoration:none;
        color: black;
        margin-left: 0.5rem;
    }

    .flexy {
        display: flex;
        justify-content: center;
        align-items: center;

            a {
                margin-left: 3rem;
            }
    }
    .navUser {

        img {
            width: 30px;
            height: 30px;
            margin-right: 1rem;
        
        }
    }
}
