.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem 2rem 10rem;
    background-color: #FAFBFB;;
    
    a:link, a:visited, a:active {
        text-decoration:none;
        color: black;
        margin-left: 0.5rem;
    }

    .flexy {
        display: flex;
        justify-content: center;
        align-items: center;

            a {
                margin-left: 3rem;
            }
    }

    .button-out {
        border: 1px solid rgb(175, 175, 175);
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5px;
        margin-left: 1rem;
        background: none;
        transition: all .5s ease;
        color: rgb(39, 39, 39);
    }

    button:hover {
        color: #f0f0f0;
        background-color: rgb(74, 74, 74);
        border: 1px solid rgb(74, 74, 74);

    }

    .navUser {

        img {
            width: 30px;
            height: 30px;
            margin-right: 1rem;
        
        }
    }
}
