.Profile {


    .bg-img{
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.1);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;

             img{
                 width: 40rem;
             }
    }
}