.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #fff;

    &__logo {
        display: grid;
        place-items: center start;
        height: 100px;
        font-size: 2rem;
        margin-left: 2rem;
    }

    &__fullLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 300;
        color: rgb(169, 169, 169);
        margin-left: 2rem;
    }

    &__menu {
        position: relative;
        
        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 4rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: #555555;
            transition: color 0.2s ease-in-out;

            &.active {
                color: #fff;
            }

            &__icon {
                margin-right: 1rem;
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 30px);
            border-radius: 10px;
            background-color: #308efe;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.2s ease-in-out;
        }
    }
}

a:link, a:visited, a:active {
    text-decoration: none;
    color:  #555555;
}

.button-out {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    border: none;
    padding: 0.75rem 50% 0.75rem 1.5rem;
    border-radius: 5px;
    margin-left: 2.3rem;
    margin-bottom: 3rem;
    background: none;
    transition: all .5s ease;
    color:  #555555;
}

.button-out:hover {
    background-color: rgb(241, 241, 241);
}

.icon-out{
    margin-right: 1rem;
}