.GProgress {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
    margin: 1rem;
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
}